<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="baseScheduler" class="com.ai.mnt.common.scheduler.BaseDataScheduler"/>

    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="baseScheduler" />
        <property name="targetMethod" value="loadCacheData" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail" />
        <property name="startDelay" value="5000" />
        <property name="repeatInterval" value="5000000" />
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="simpleTrigger" />
            </list>
        </property>
        <property name="quartzProperties"> 
            <props>
                <!-- 解决Quartz version update check failed: Connection refused: connect-->
                <prop key="org.quartz.scheduler.skipUpdateCheck">true</prop> 
            </props>
        </property>

    </bean>
</beans>