<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.mnt.persistence.product.MntLibRelHisMapper">

    <resultMap id="MntLibRelHisResultMap" type="com.ai.mnt.model.product.MntLibRelHis">
        <id column="id" property="id" />
        <result column="lib_id" property="libId" />
        <result column="lib_code" property="libCode" />
        <result column="output_file" property="outputFile" />
        <result column="md5_val" property="md5Val" />
        <result column="rel_id" property="relId" />
        <result column="base_id" property="baseId" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="modifier" property="modifier" />
        <result column="modify_date" property="modifyDate" />
        <association property="mntModuleLib" javaType="com.ai.mnt.model.product.MntModuleLib" resultMap="MntModuleLibResultMap"/>
        <association property="mntReleaseRec" javaType="com.ai.mnt.model.product.MntReleaseRec" resultMap="MntReleaseRecResultMap"/>
    </resultMap>

    <resultMap id="MntModuleLibResultMap" type="com.ai.mnt.model.product.MntModuleLib">
        <id column="lib_id" property="libId" />
        <result column="lib_name" property="libName" />
        <result column="module_id" property="moduleId" />
        <result column="lib_desc" property="libDesc" />
        <result column="is_used" property="isUsed" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="remark" property="remark" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="modifier" property="modifier" />
        <result column="modify_date" property="modifyDate" />
        <association property="mntProdModule" javaType="com.ai.mnt.model.product.MntProdModule" resultMap="MntProdModuleResultMap"/>
    </resultMap>

    <resultMap id="MntProdModuleResultMap" type="com.ai.mnt.model.product.MntProdModule">
        <result column="module_name_en" property="moduleNameEn" />
        <result column="module_name_cn" property="moduleNameCn" />
        <result column="prod_id" property="prodId" />
        <result column="ver_code" property="verCode" />
        <result column="parent_module_id" property="parentModuleId" />
        <result column="output_type" property="outputType" />
        <result column="output" property="output" />
        <result column="start_command" property="startCommand" />
        <result column="svn_path" property="svnPath" />
        <result column="module_desc" property="moduleDesc" />
    </resultMap>

    <resultMap id="MntReleaseRecResultMap" type="com.ai.mnt.model.product.MntReleaseRec">
        <id column="rel_id" property="relId" />
        <result column="rel_code" property="relCode" />
        <result column="prod_id" property="prodId" />
        <result column="ver_code" property="verCode" />
        <result column="rel_type" property="relType" />
        <result column="rel_desc" property="relDesc" />
        <result column="rel_date" property="relDate" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="modifier" property="modifier" />
        <result column="modify_date" property="modifyDate" />
    </resultMap>
    
    <sql id="MntLibRelHisColumns">
        id,
        lib_id,
        lib_code,
        output_file,
        md5_val,
        rel_id,
        base_id,
        remark,
        delete_flag,
        creator,
        create_date,
        modifier,
        modify_date
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into mnt_lib_rel_his (
        lib_id,
        lib_code,
        output_file,
        md5_val,
        rel_id,
        base_id,
        remark,
        delete_flag,
        creator,
        create_date,
        modifier,
        modify_date
        )
        values (
        #{libId},
        #{libCode},
        #{outputFile},
        #{md5Val},
        #{relId},
        #{baseId},
        #{remark},
        #{deleteFlag},
        #{creator},
        #{createDate},
        #{modifier},
        #{modifyDate}
        )
    </insert>

    <insert id="saveAll">
        insert into mnt_lib_rel_his (
        lib_id,
        lib_code,
        output_file,
        md5_val,
        rel_id,
        base_id,
        remark,
        delete_flag,
        creator,
        create_date,
        modifier,
        modify_date
        )
        values
        <foreach item="item" collection="list" separator=",">
            (
            #{item.libId},
            #{item.libCode},
            #{item.outputFile},
            #{item.md5Val},
            #{item.relId},
            #{item.baseId},
            #{item.remark},
            #{item.deleteFlag},
            #{item.creator},
            #{item.createDate},
            #{item.modifier},
            #{item.modifyDate}
            )
        </foreach>
    </insert>

    <delete id="deleteByPrimaryKey">
        delete from mnt_lib_rel_his
        where
        id = #{id}
    </delete>

    <delete id="deleteList">
        delete from mnt_lib_rel_his
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updateByPrimaryKey">
        update mnt_lib_rel_his
        <set>
            <if test="libId != null">
                lib_id = #{libId},
            </if>
            <if test="libCode != null">
                lib_code = #{libCode},
            </if>
            <if test="outputFile != null">
                output_file = #{outputFile},
            </if>
            <if test="md5Val != null">
                md5_val = #{md5Val},
            </if>
            <if test="relId != null">
                rel_id = #{relId},
            </if>
            <if test="baseId != null">
                base_id = #{baseId},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="creator != null">
                creator = #{creator},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate}
            </if>
        </set>
        where
        id = #{id}
    </update>

    <select id="findByPrimaryKey" resultMap="MntLibRelHisResultMap">
        select
        <include refid="MntLibRelHisColumns" />
        from mnt_lib_rel_his
        where id = #{id}
    </select>

    <select id="findList" resultMap="MntLibRelHisResultMap">
        select
        <include refid="MntLibRelHisColumns" />
        from mnt_lib_rel_his
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="libId != null">
                and lib_id = #{libId}
            </if>
            <if test="libCode != null and libCode != ''">
                and lib_code = #{libCode}
            </if>
            <if test="outputFile != null and outputFile != ''">
                and output_file = #{outputFile}
            </if>
            <if test="md5Val != null and md5Val != ''">
                and md5_val = #{md5Val}
            </if>
            <if test="relId != null">
                and rel_id = #{relId}
            </if>
            <if test="baseId != null">
                base_id = #{baseId},
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="deleteFlag != null and deleteFlag != ''">
                and delete_flag = #{deleteFlag}
            </if>
            <if test="creator != null and creator != ''">
                and creator = #{creator}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="modifier != null and modifier != ''">
                and modifier = #{modifier}
            </if>
            <if test="modifyDate != null">
                and modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="findAll" resultMap="MntLibRelHisResultMap">
        select
        <include refid="MntLibRelHisColumns" />
        from mnt_lib_rel_his
    </select>
    
    <sql id="MntLibRelHisColumns2">
        t1.id,
        t1.lib_id,
        t1.lib_code,
        t1.output_file,
        t1.md5_val,
        t1.rel_id,
        t1.base_id,
        t1.remark,
        t1.delete_flag,
        t1.creator,
        t1.create_date,
        t1.modifier,
        t1.modify_date
    </sql>
    
    <select id="findLibRelHisJoinList" resultMap="MntLibRelHisResultMap">
        SELECT 
            <include refid="MntLibRelHisColumns2" />,
            t2.lib_name,
            t3.prod_id,
            t3.ver_code,
            t3.module_id,
            t3.module_name_en,
            t3.module_name_cn,
            t4.rel_code,
            t4.rel_date
        FROM
        mnt_lib_rel_his t1 
        JOIN mnt_module_lib t2 ON t1.lib_id = t2.lib_id
        JOIN mnt_prod_module t3 ON t2.module_id = t3.module_id
        JOIN mnt_release_rec t4 ON t4.rel_id = t1.rel_id
        <where>
            <if test="mntModuleLib.mntProdModule.prodId != null">
                and t3.prod_id = #{mntModuleLib.mntProdModule.prodId}
            </if>
            <if test="mntModuleLib.mntProdModule.verCode != null and mntModuleLib.mntProdModule.verCode != ''">
                and t3.ver_code = #{mntModuleLib.mntProdModule.verCode}
            </if>
            <if test="mntModuleLib.mntProdModule.moduleName != null and mntModuleLib.mntProdModule.moduleName != ''">
                and (t3.module_name_cn like '%${mntModuleLib.mntProdModule.moduleName}%' or t3.module_name_en like '%${mntModuleLib.mntProdModule.moduleName}%')
            </if>
            <if test="mntModuleLib.libName != null and mntModuleLib.libName != ''">
                and t2.lib_name like '%${mntModuleLib.libName}%'
            </if>
            <if test="mntReleaseRec.beginDate != null">
                <![CDATA[and t4.rel_date >= #{mntReleaseRec.beginDate}]]>
            </if>
            <if test="mntReleaseRec.endDate != null">
                <![CDATA[and t4.rel_date <= #{mntReleaseRec.endDate}]]>
            </if>
            <if test="md5Val != null and md5Val !=''">
                and t1.md5_val = #{md5Val}
            </if>
            <if test="deleteFlag != null and deleteFlag !=''">
                and t1.delete_flag = #{deleteFlag}
            </if>
            <if test="id != null">
                and t1.id = #{id}
            </if>
            <if test="libId != null">
                and t1.lib_id = #{libId}
            </if>
        </where>
    </select>
    
</mapper>