<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.mnt.persistence.product.MntLibRelationMapper">

    <resultMap id="MntLibRelationResultMap" type="com.ai.mnt.model.product.MntLibRelation">
        <id column="id" property="id" />
        <result column="lib_id" property="libId" />
        <result column="rel_lib_id" property="relLibId" />
        <result column="rel_desc" property="relDesc" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="modifier" property="modifier" />
        <result column="modify_date" property="modifyDate" />
    </resultMap>

    <sql id="MntLibRelationColumns">
        id,
        lib_id,
        rel_lib_id,
        rel_desc,
        delete_flag,
        creator,
        create_date,
        modifier,
        modify_date
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into mnt_lib_relation (
        lib_id,
        rel_lib_id,
        rel_desc,
        delete_flag,
        creator,
        create_date,
        modifier,
        modify_date
        )
        values (
        #{libId},
        #{relLibId},
        #{relDesc},
        #{deleteFlag},
        #{creator},
        #{createDate},
        #{modifier},
        #{modifyDate}
        )
    </insert>

    <insert id="saveAll">
        insert into mnt_lib_relation (
        lib_id,
        rel_lib_id,
        rel_desc,
        delete_flag,
        creator,
        create_date,
        modifier,
        modify_date
        )
        values
        <foreach item="item" collection="list" separator=",">
            (
            #{item.libId},
            #{item.relLibId},
            #{item.relDesc},
            #{item.deleteFlag},
            #{item.creator},
            #{item.createDate},
            #{item.modifier},
            #{item.modifyDate}
            )
        </foreach>
    </insert>

    <delete id="deleteByPrimaryKey">
        delete from mnt_lib_relation
        where
        id = #{id}
    </delete>

    <delete id="deleteList">
        delete from mnt_lib_relation
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteMntLibRelation">
        delete from mnt_lib_relation
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="libId != null">
                and lib_id = #{libId}
            </if>
            <if test="relLibId != null">
                and rel_lib_id = #{relLibId}
            </if>
        </where>
    </delete>


    <update id="updateByPrimaryKey">
        update mnt_lib_relation
        <set>
            <if test="libId != null">
                lib_id = #{libId},
            </if>
            <if test="relLibId != null">
                rel_lib_id = #{relLibId},
            </if>
            <if test="relDesc != null">
                rel_desc = #{relDesc},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="creator != null">
                creator = #{creator},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="modifier != null">
                modifier = #{modifier},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate}
            </if>
        </set>
        where
        id = #{id}
    </update>

    <select id="findByPrimaryKey" resultMap="MntLibRelationResultMap">
        select
        <include refid="MntLibRelationColumns" />
        from mnt_lib_relation
        where id = #{id}
    </select>

    <select id="findList" resultMap="MntLibRelationResultMap">
        select
        <include refid="MntLibRelationColumns" />
        from mnt_lib_relation
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="libId != null">
                and lib_id = #{libId}
            </if>
            <if test="relLibId != null">
                and rel_lib_id = #{relLibId}
            </if>
            <if test="relDesc != null and relDesc != ''">
                and rel_desc = #{relDesc}
            </if>
            <if test="deleteFlag != null and deleteFlag != ''">
                and delete_flag = #{deleteFlag}
            </if>
            <if test="creator != null and creator != ''">
                and creator = #{creator}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="modifier != null and modifier != ''">
                and modifier = #{modifier}
            </if>
            <if test="modifyDate != null">
                and modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="findAll" resultMap="MntLibRelationResultMap">
        select
        <include refid="MntLibRelationColumns" />
        from mnt_lib_relation
    </select>
    
    
</mapper>